[tool.poetry]
name = "pdbr"
version = "0.4.5"
description = "Pdb with Rich library."
authors = ["Can Sarigol <ertugrulsarigol@gmail.com>"]
packages = [
    { include = "pdbr" }
]
readme = "README.md"
homepage = "https://github.com/cansarigol/pdbr"
repository = "https://github.com/cansarigol/pdbr"
classifiers = [
    "Development Status :: 4 - Beta",    
    "Intended Audience :: Developers",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]

[tool.poetry.dependencies]
python = "^3.6"
rich = "^9.11.0"
celery = {version = "^4.4.7", optional = true}
ipython = {version = "7.16", optional = true}
jedi = "0.17.2"
icecream = "^2.1.0"

[tool.poetry.dev-dependencies]
nox = "^2020.5.24"

[tool.poetry.extras]
celery = ["celery"]
ipython = ["ipython", "jedi"]

[tool.poetry.scripts]
pdbr = 'pdbr.cli:shell'
pdbr_telnet = 'pdbr.cli:telnet'

[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"
