[tool.poetry]
name = "pdbr"
version = "0.3.4"
description = "Pdb with Rich library."
authors = ["Can Sarigol <ertugrulsarigol@gmail.com>"]
packages = [
    { include = "pdbr" }
]
readme = "README.md"
homepage = "https://github.com/cansarigol/pdbr"
repository = "https://github.com/cansarigol/pdbr"
classifiers = [
    "Development Status :: 4 - Beta",    
    "Intended Audience :: Developers",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]

[tool.poetry.dependencies]
python = "^3.6"
rich = "^9.0.0"
celery = {version = "^4.4.7", optional = true}

[tool.poetry.dev-dependencies]
nox = "^2020.5.24"

[tool.poetry.extras]
celery = ["celery"]

[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"
