name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build-n-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: Install poetry
      run: >-
        python -m
        pip install
        poetry
        --user
    - name: Build
      run: >-
        python -m
        poetry build
    - name: Publish to PyPI
      env:
        POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_PASSWORD }}
      run: >-
        python -m
        poetry publish
